#include("ref/widget/head.vm")

<div class="container" style="margin-top: 7rem;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div id="register-notification"></div>
                    <form action="/internal/post/register" method="post" id="formRegister">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-lg" for="inputUsername">Username</label>
                            <input class="form-control form-control-lg" name="username" type="text" placeholder="u s e r n a m e" id="inputUsername" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-lg" for="inputPassword">Password</label>
                            <input class="form-control form-control-lg" name="password" type="password" placeholder="p a s s w o r d" id="inputPassword" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-lg" for="inputPassword2">Repeat Password</label>
                            <input class="form-control form-control-lg" name="password_2" type="password" placeholder="p a s s w o r d" id="inputPassword2" />
                        </div>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

#include("ref/widget/foot.vm")